/.metadata
/demo/helloworld/.classpath
/demo/helloworld/.project
/demo/helloworld/.settings
/jevercookie/.classpath
/jevercookie/.project
/jevercookie/.settings
/jevercookie/bin
/jevercookie/target
/demo/helloworld/.gitignore
/demo/helloworld/bin
/demo/helloworld/target
/demo/helloworld_auto/.classpath
/demo/helloworld_auto/.project
/demo/helloworld_auto/.settings
